.semaforo{
  background-color: black;
  width: 200px;
  justify-content: space-around;
}

.semaforo, .left, .right {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left, .right {
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quarter {
  width: 120px;
  height: 120px;
  background-color: black;
  margin: 10px;
  border-radius: 0 0 0 100%;
}
.right .quarter {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.circle1, .circle2, .circle3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.circle1 {
  background-color: red;
}

.circle2 {
  background-color: yellow;
}

.circle3 {
  background-color: green;
}